.register-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    /* margin: 100px auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.register .links{
    display: flex;
    padding: 0 15px;
}

.register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.register .links a:hover{
    color: #9da3ac;
}

.register .links a.active{
    border-bottom: 3px solid #666;
    color: #666;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #666;
    color: #ffffff;
}

.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 80%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #2288cc;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.register form input[type="submit"]:hover {
    background-color: #3399dd;
    transition: background-color 0.2s;
}

@media screen and (max-width: 768px) {
    .register {
        width: 92vw;
        max-width: 520px;
    }
}
